body {
    font: 13pt arial;
    max-width: 500px;
    margin: 0 auto;
}

header {
    text-align: right;
    height: 175px;
    background: url(/img/logo.png) no-repeat top left;
}

    header h1 {
        font-size: 3em;
        margin-bottom: 5px;
    }

    header p {
        margin: 0;
        font-weight: bold;
    }

em {
    display: inline-block;
    margin-bottom: 1em;
}

    em strong {
        display: block;
    }

form {
    border: 1px solid silver;
    border-radius: 20px;
    padding: 1em 3em;
    background: #f1f1f1;
    text-align: center;
}

    form input[type=text] {
        text-transform: capitalize;
        display: block;
        width: 100%;
        font: inherit;
        border-radius: 5px;
        border: 1px solid silver;
        padding: 5px;
        margin-top: 10px;
    }

    form label {
        font-size: 1.2em;
    }

    form button {
        font: inherit;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        color: white;
        background: #0094ff;
    }

.result {
    font-size: 1.5em;
    text-align: center;
}
